@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.logo {
    padding: 2rem;
}

.bg-mobile img,
.bg-desctop img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.bg-desctop img {
    display: none;
}


.desctop-logo{
    display: none;
}

.row-text span {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: 600;
}

.row-text {
    padding: 2rem;
    text-align: center;
}

.row-text .red-text {
    color: hsl(0, 36%, 70%);
}

.row-text .black-text {
    color: black;
}

.row-text p {
    line-height: 1.5rem;
    font-size: 18px;
    padding-top: 1rem;
    color: hsl(0, 36%, 70%);
}

input[type="email"] {
    margin-left: 40px;
    padding: 15px 20px;
    width: 70%;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    background: transparent;
    margin-bottom: 0.5rem;
}

input:focus {
    border: 2px solid hsla(0, 30%, 70%, 0.5);
    outline: none;
}

input::placeholder {
    color: hsla(0, 30%, 70%, 0.5);
    font-family: 'Josefin Sans';
}

.form-wrap {
    position: relative;
    margin-bottom: 4rem;
}

button[type='submit'] {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 7%;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    width: 90px;
    height: 46px;
    padding: 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.error-icon {
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 30%;
    display: none;
}

.wrong-email {
    margin-left: 3rem;
    color: hsl(0, 74%, 74%);
    display: none;
}

@media (min-width: 750px) {
    .container{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        
    }
    .left-content{
        width: 50%;
    }
    .right-content{
        width: 40%;
    }
    .mobile-logo{
        display: none;
    }
    .desctop-logo{
        margin-top: 2rem;
        display:block;
    }
    .bg-mobile img{
        display: none;
    }
    .bg-desctop img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    .left-content{
        margin:3rem;
    }
    .left-content .row-text{
        padding: 0;
        margin-top: 4rem;
        text-align: left;
        line-height: 4rem;
    }
    .row-text p{
        line-height: 2.5rem;
        margin-bottom: 2rem;
    }
    button[type='submit']{
        top: 0;
        right: 20%;
    }
    .error-icon {
        top: 15%;
        right: 37%;
        display: none;
    }
}
